<div class="row">
  <div class="col-12 col-sm-11 col-md-10 col-lg-8 col-xl-7 mx-auto">
    <div class="container-fluid">
      <div class="row mat-elevation-z8">
        <div class="col-12 col-md-8 pe-md-0">
          <div class="logo-container">
            <img src="assets/hotel.svg">
          </div>
        </div>
      </div>
      <div class="login-button-container">
        <a mat-raised-button [routerLink]="['auth/login']" color="primary">Login</a>
      </div>
    </div>
  </div>
</div>
